<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>nav}}
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="./img/tej.jpeg" alt="" class="img-fluid ab-img align-item-center" title="tejas">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main-header-left">
                        <p>welcome to whether app</p>
                        <h1>i am a<span class="red"> Mern stack devoloper </span> & web devoloper</h1>
                        <a href="/404"><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>